<div>
    <!--<h2 id="page-heading">
        <span jhiTranslate="psaRankingApp.player.home.title">Players</span>
         <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-player" [routerLink]="['/player/new']" [queryParams]="{rId:rosterId}">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="psaRankingApp.player.home.createLabel">
            Create a new Player
            </span>
        </button>
    </h2>-->
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <form name="addForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="addForm">
        <div class="form-group" class="row justify-content-center">
            <table class="table table-striped" aria-describedby="page-heading">
            <tr>
              <th>
                <label class="form-control-label" jhiTranslate="psaRankingApp.player.userId" for="field_user">PBPoint Id</label>
              </th>
              <th colspan=2>
                <label class="form-control-label" jhiTranslate="psaRankingApp.player.profile" for="field_profile">Profile</label>
              </th>
            </tr>
            <tr>
              <td>
                 <input type="text" class="form-control" id="field_user" name="user" formControlName="userId" />
              </td>
              <td>
                <select class="form-control" name="profile" formControlName="profile" id="field_profile">
                  <option value="PLAYER">{{'psaRankingApp.ProfileUser.PLAYER' | translate}}</option>
                  <option value="STAFF">{{'psaRankingApp.ProfileUser.STAFF' | translate}}</option>
                </select>
              </td>
              <td class="text-left">
                <div class="btn-group">
                <button type="submit" id="save-entity" [disabled]="addForm.invalid || isSaving" class="btn btn-primary">
                  <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="global.menu.custom.add.player">add Player</span>
                </button>
                </div>
              </td>
             </tr>
            </table>
        </div>
    </form>
    <br/>
    <div class="alert alert-warning" *ngIf="players?.length === 0">
        <span jhiTranslate="psaRankingApp.player.home.notFound">No players found</span>
    </div>
    <div class="table-responsive" *ngIf="players?.length > 0">
      <span jhiTranslate="psaRankingApp.player.detail.player">Players</span>
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <!-- <th scope="col"  jhiSortBy="rosterId"><span jhiTranslate="psaRankingApp.player.roster">Roster</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th scope="col"><span jhiTranslate="psaRankingApp.player.userId">User ID</span></th>
            <th scope="col"><span jhiTranslate="psaRankingApp.player.user">User</span></th>
            <th scope="col"><span jhiTranslate="psaRankingApp.player.category">Category</span></th>
            <th scope="col"><span jhiTranslate="psaRankingApp.player.profile">Profile</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of players | filterByPlayerProfile:'PLAYER' ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/player', player.id, 'view' ]">{{player.id}}</a></td> -->
                <td>{{player.userId}}</td>
                <td>
                  <div *ngIf="player.userId">
                    <div *ngFor="let item of users">
                     <div *ngIf="(item.id == player.userId)" >{{item.lastName}}, {{item.firstName}}</div>
                    </div>
                  </div>
                </td>
                <td>{{player.id}}</td>
                <td jhiTranslate="{{'psaRankingApp.ProfileUser.' + player.profile}}">{{player.profile}}</td>
                <!-- <td>
                    <div *ngIf="player.rosterId">{{player.rosterId}}</div>
                </td> -->
                <td class="text-right">
                    <div class="btn-group">
                        <!-- <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                type="submit"
                                [routerLink]="['/player', player.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/player', player.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/player', { outlets: { popup: player.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            </table>
            <span jhiTranslate="psaRankingApp.player.detail.staff">Staff</span>
            <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th scope="col"><span jhiTranslate="psaRankingApp.player.userId">User ID</span></th>
            <th scope="col"><span jhiTranslate="psaRankingApp.player.user">User</span></th>
            <th scope="col"><span jhiTranslate="psaRankingApp.player.category">Category</span></th>
            <th scope="col"><span jhiTranslate="psaRankingApp.player.profile">Profile</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of players | filterByPlayerProfile:'STAFF' ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/player', player.id, 'view' ]">{{player.id}}</a></td> -->
                <td>{{player.userId}}</td>
                <td>
                  <div *ngIf="player.userId">
                    <div *ngFor="let item of users">
                     <div *ngIf="(item.id == player.userId)" >{{item.lastName}}, {{item.firstName}}</div>
                    </div>
                  </div>
                </td>
                <td>{{player.id}}</td>
                <td jhiTranslate="{{'psaRankingApp.ProfileUser.' + player.profile}}">{{player.profile}}</td>
                <!-- <td>
                    <div *ngIf="player.rosterId">{{player.rosterId}}</div>
                </td> -->
                <td class="text-right">
                    <div class="btn-group">
                        <!-- <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                type="submit"
                                [routerLink]="['/player', player.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/player', player.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/player', { outlets: { popup: player.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="players?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
