<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-player-heading" jhiTranslate="psaRankingApp.player.home.createOrEditLabel">Create or edit a Player</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="editForm.get('Id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group" [hidden]="editForm.get('rosterId').value">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.player.roster" for="field_roster">Roster</label>
                    <select class="form-control" id="field_roster" name="roster" formControlName="rosterId">
                        <option *ngIf="!editForm.get('rosterId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="rosterOption.id" *ngFor="let rosterOption of rosters; trackBy: trackRosterById">{{rosterOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('rosterId').invalid && (editForm.get('rosterId').dirty || editForm.get('rosterId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('rosterId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" [hidden]="editForm.get('userId').value">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.player.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <!-- <option [ngValue]="null"></option> -->
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.player.profile" for="field_profile">Profile</label>
                    <select class="form-control" name="profile" formControlName="profile" id="field_profile">
                        <option value="PLAYER">{{'psaRankingApp.ProfileUser.PLAYER' | translate}},hola</option>
                        <option value="STAFF">{{'psaRankingApp.ProfileUser.STAFF' | translate}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
