<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userExtra">
            <h2><span jhiTranslate="PbPointsApp.userExtra.detail.title">User Extra</span> {{userExtra.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="PbPointsApp.userExtra.numDoc">Num Doc</span></dt>
                <dd>
                    <span>{{userExtra.numDoc}}</span>
                </dd>
                <dt><span jhiTranslate="PbPointsApp.userExtra.phone">Phone</span></dt>
                <dd>
                    <span>{{userExtra.phone}}</span>
                </dd>
                <dt><span jhiTranslate="PbPointsApp.userExtra.bornDate">Born Date</span></dt>
                <dd>
                    <span>{{userExtra.bornDate}}</span>
                </dd>
                <dt><span jhiTranslate="PbPointsApp.userExtra.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="userExtra.picture">
                        <a (click)="openFile(userExtra.pictureContentType, userExtra.picture)">
                            <img [src]="'data:' + userExtra.pictureContentType + ';base64,' + userExtra.picture" style="max-width: 100%;" alt="userExtra image"/>
                        </a>
                        {{userExtra.pictureContentType}}, {{byteSize(userExtra.picture)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="PbPointsApp.userExtra.docType">Doc Type</span></dt>
                <dd>
                    <div *ngIf="userExtra.docTypeId">
                        <a [routerLink]="['/doc-type', userExtra.docTypeId, 'view']">{{userExtra.docTypeId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="PbPointsApp.userExtra.user">User</span></dt>
                <dd>
                    {{userExtra.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-extra', userExtra.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
