<div>
    <h2 id="page-heading">
        <span jhiTranslate="PbPointsApp.province.home.title">Provinces</span>
        <button id="jh-create-entity-back" class="btn btn-primary float-right jh-create-entity create-province" (click)="Cancel()">
            <span jhiTranslate="global.menu.back">Back</span>
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-province" [routerLink]="['/province/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="PbPointsApp.province.home.createLabel">
            Create a new Province
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="provinces?.length === 0">
        <span jhiTranslate="PbPointsApp.province.home.notFound">No provinces found</span>
    </div>
    <div class="table-responsive" *ngIf="provinces?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="countryId"><span jhiTranslate="PbPointsApp.province.country">Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="PbPointsApp.province.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let province of provinces ;trackBy: trackId">
                <td>
                    <div *ngIf="province.countryId">
		                <div *ngFor="let item of countries">
                    	<!-- <a [routerLink]="['/country', province.countryId , 'view' ]" *ngIf="(item.id == province.countryId)" >{{item.name}}</a> -->
                        <a *ngIf="(item.id == province.countryId)" >{{item.name}}</a>
						</div>
                    </div>
                </td>
                <!--  <td><a [routerLink]="['/province', province.id, 'view' ]">{{province.id}}</a></td>-->
                <td>{{province.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <!-- <button type="submit"
                                [routerLink]="['/province', province.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/city']"
                                [queryParams]="{pId:province.id}"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.city">Cities</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/province', province.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/province', { outlets: { popup: province.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
