<div>
    <!-- Inicio User -->
    <h2><span jhiTranslate="global.menu.account.playerPoint">Player Point</span>
    <button id="jh-create-entity-back" class="btn btn-primary float-right jh-create-entity create-player-point" (click)="Cancel()">
            <span jhiTranslate="global.menu.back">Back</span>
    </button>
    </h2>
    <table class="table table-striped" aria-describedby="page-heading">
    <thead>
     <tr>
        <th jhiTranslate="global.form.picture.label">Picture</th>
        <th colspan="2">Mis Datos</th>
     </tr>
     </thead>
     <tbody>
     <tr>
        <td rowspan="6">
        <img [src]='currentImage' width="200" height="250"/>
        </td>
        <td><span jhiTranslate="global.form.id.label">PBPointID</span></td>
        <td><span>{{currentAccount.id}}</span></td>
     </tr>
     <tr>
        <td><span jhiTranslate="global.form.lastFirstName.label">Nombre</span></td>
        <td><span>{{currentAccount.lastName}}, {{currentAccount.firstName}}</span></td>
     </tr>
     <tr>
        <td><span jhiTranslate="global.form.numDoc.label">numDoc</span></td>
        <td><span>{{currentAccount.numDoc}}</span></td>
     </tr>
     <tr>
        <td><span jhiTranslate="global.form.bornDate.label">bornDate</span></td>
        <td><span>{{currentAccount.bornDate}}</span></td>
     </tr>
     <tr>
        <td><span jhiTranslate="global.form.email.label">email</span></td>
        <td><span>{{currentAccount.email}}</span></td>
     </tr>
     <tr>
        <td><span jhiTranslate="global.form.phone.label">phone</span></td>
        <td><span>{{currentAccount.phone}}</span></td>
     </tr>
     </tbody>
    </table>
    <!-- Fin User -->
	<!-- Inicio Player-Point -->
    <h2 id="page-heading">
        <span jhiTranslate="psaRankingApp.playerPoint.home.title">Player Points</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-player-point" [routerLink]="['/player-point/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="psaRankingApp.playerPoint.home.createLabel">
            Create a new Player Point
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="playerPoints?.length === 0">
        <span jhiTranslate="psaRankingApp.playerPoint.home.notFound">No playerPoints found</span>
    </div>
    <div class="table-responsive" *ngIf="playerPoints?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th scope="col"><span jhiTranslate="psaRankingApp.playerPoint.tournament">Tournament</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col"><span jhiTranslate="psaRankingApp.playerPoint.user">User</span></th>
            <th scope="col"><span jhiTranslate="psaRankingApp.playerPoint.category">Category</span></th>
            <th scope="col"><span jhiTranslate="psaRankingApp.playerPoint.points">Points</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let playerPoint of playerPoints ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/player-point', playerPoint.id, 'view' ]">{{playerPoint.id}}</a></td>-->
                <td>{{playerPoint.tournamentName}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{playerPoint.userLogin}}</td>
                <td>{{playerPoint.categoryName}}</td>
                <td>{{playerPoint.points}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/player-detail-point']"
                                [queryParams]="{ppId:playerPoint.id}"
                                class="btn btn-primary btn-sm">
                            <!-- <fa-icon [icon]="'eye'"></fa-icon> -->
                            <span class="d-none d-md-inline" jhiTranslate="global.menu.custom.view.playerDetailPoints">View Details</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                type="submit"
                                [routerLink]="['/player-point', playerPoint.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/player-point', { outlets: { popup: playerPoint.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="playerPoints?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
