<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tournament-heading" jhiTranslate="psaRankingApp.tournament.home.createOrEditLabel">Create or edit a Tournament</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!-- <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.tournament.logo" for="field_logo">Logo</label>
                    <div>
                        <img [src]="'data:' + editForm.get('logoContentType').value + ';base64,' + editForm.get('logo').value" style="max-height: 100px;" *ngIf="editForm.get('logo').value" alt="tournament image"/>
                        <div *ngIf="editForm.get('logo').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('logoContentType').value}}, {{byteSize(editForm.get('logo').value)}}</span>
                            <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_logo" (change)="setFileData($event, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="logo" id="field_logo"
                           formControlName="logo"/>
                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                           formControlName="logoContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.tournament.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.tournament.closeInscrDays" for="field_closeInscrDays">Close Inscr Days</label>
                    <input type="number" class="form-control" name="closeInscrDays" id="field_closeInscrDays"
                           formControlName="closeInscrDays"/>
                </div>
                <div class="form-group">
                    <label *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-control-label" jhiTranslate="psaRankingApp.tournament.status" for="field_status">Status</label>
                    <select *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="PENDING">{{'psaRankingApp.Status.PENDING' | translate}}</option>
                        <option value="CREATED">{{'psaRankingApp.Status.CREATED' | translate}}</option>
                        <option value="IN_PROGRESS">{{'psaRankingApp.Status.IN_PROGRESS' | translate}}</option>
                        <option value="DONE">{{'psaRankingApp.Status.DONE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.tournament.categorize" for="field_categorize">Categorize</label>
                    <input type="checkbox" class="form-control" name="categorize" id="field_categorize"
                           formControlName="categorize"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.tournament.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" formControlName="ownerId">
                        <option *ngIf="!editForm.get('ownerId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('ownerId').invalid && (editForm.get('ownerId').dirty || editForm.get('ownerId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('ownerId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
            </div>
        </form>
    </div>
</div>
