<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="eventCategory">
            <h2><span jhiTranslate="psaRankingApp.eventCategory.detail.title">Event Category</span> {{eventCategory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="psaRankingApp.eventCategory.event">Event</span></dt>
                <dd>
                    <div *ngIf="eventCategory.eventId">
                        <a [routerLink]="['/event', eventCategory.eventId, 'view']">{{eventCategory.eventName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.eventCategory.category">Category</span></dt>
                <dd>
                    <div *ngIf="eventCategory.categoryId">
                        <a [routerLink]="['/category', eventCategory.categoryId, 'view']">{{eventCategory.categoryName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.eventCategory.format">Format</span></dt>
                <dd>
                    <div *ngIf="eventCategory.formatId">
                        <a [routerLink]="['/format', eventCategory.formatId, 'view']">{{eventCategory.formatName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event-category', eventCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
