<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teamDetailPoint">
            <h2><span jhiTranslate="psaRankingApp.teamDetailPoint.detail.title">Team Detail Point</span> {{teamDetailPoint.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="psaRankingApp.teamDetailPoint.points">Points</span></dt>
                <dd>
                    <span>{{teamDetailPoint.points}}</span>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.teamDetailPoint.teamPoint">Team Point</span></dt>
                <dd>
                    <div *ngIf="teamDetailPoint.teamPointId">
                        <a [routerLink]="['/team-point', teamDetailPoint.teamPointId, 'view']">{{teamDetailPoint.teamPointId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="psaRankingApp.teamDetailPoint.event">Event</span></dt>
                <dd>
                    <div *ngIf="teamDetailPoint.eventId">
                        <a [routerLink]="['/event', teamDetailPoint.eventId, 'view']">{{teamDetailPoint.eventName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/team-detail-point', teamDetailPoint.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
