<div>
    <h2 id="page-heading">
        <span jhiTranslate="pbPointsApp.formula.home.title">Formulas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-formula" [routerLink]="['/formula/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pbPointsApp.formula.home.createLabel">
            Create a new Formula
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="formulas?.length === 0">
        <span jhiTranslate="pbPointsApp.formula.home.notFound">No formulas found</span>
    </div>
    <div class="table-responsive" *ngIf="formulas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="pbPointsApp.formula.formula">Formula</span></th>
            <th scope="col" ><span jhiTranslate="pbPointsApp.formula.var1">Var 1</span></th>
            <th scope="col" ><span jhiTranslate="pbPointsApp.formula.var2">Var 2</span></th>
            <th scope="col" ><span jhiTranslate="pbPointsApp.formula.var3">Var 3</span></th>
            <th scope="col" ><span jhiTranslate="pbPointsApp.formula.description">Description</span></th>
            <th scope="col" ><span jhiTranslate="pbPointsApp.formula.example">Example</span></th>
            <th scope="col" ><span jhiTranslate="pbPointsApp.formula.tournament">Tournament</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let formula of formulas ;trackBy: trackId">
                <td><a [routerLink]="['/formula', formula.id, 'view' ]">{{formula.id}}</a></td>
                <td>{{formula.formula}}</td>
                <td>{{formula.var1}}</td>
                <td>{{formula.var2}}</td>
                <td>{{formula.var3}}</td>
                <td>{{formula.description}}</td>
                <td>{{formula.example}}</td>
                <td>
                    <div *ngIf="formula.tournamentId">
                        <a [routerLink]="['/tournament', formula.tournamentId , 'view' ]" >{{formula.tournamentName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/formula', formula.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/formula', formula.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/formula', { outlets: { popup: formula.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
