<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-format-heading" jhiTranslate="psaRankingApp.format.home.createOrEditLabel">Create or edit a Format</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" hidden>
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.format.tournament" for="field_tournament">Tournament</label>
                    <select class="form-control" id="field_tournament" name="tournament" formControlName="tournamentId">
                        <option *ngIf="!editForm.get('tournamentId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="tournamentOption.id" *ngFor="let tournamentOption of tournaments; trackBy: trackTournamentById">{{tournamentOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('tournamentId').invalid && (editForm.get('tournamentId').dirty || editForm.get('tournamentId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('tournamentId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.format.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.format.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.format.playersQty" for="field_playersQty">Players Qty</label>
                    <input type="number" class="form-control" name="playersQty" id="field_playersQty"
                           formControlName="playersQty"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="psaRankingApp.format.coeficient" for="field_coeficient">Coeficient</label>
                    <input type="number" class="form-control" name="coeficient" id="field_coeficient"
                           formControlName="coeficient"/>
                    <div *ngIf="editForm.get('coeficient').invalid && (editForm.get('coeficient').dirty || editForm.get('coeficient').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('coeficient').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('coeficient')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
            </div>
        </form>
    </div>
</div>
