<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="playerDetailPoint">
            <h2><span jhiTranslate="PbPointsApp.playerDetailPoint.detail.title">Player Detail Point</span> {{playerDetailPoint.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="PbPointsApp.playerDetailPoint.points">Points</span></dt>
                <dd>
                    <span>{{playerDetailPoint.points}}</span>
                </dd>
                <dt><span jhiTranslate="PbPointsApp.playerDetailPoint.event">Event</span></dt>
                <dd>
                    <div *ngIf="playerDetailPoint.eventId">
                        <a [routerLink]="['/event', playerDetailPoint.eventId, 'view']">{{playerDetailPoint.eventName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="PbPointsApp.playerDetailPoint.playerPoint">Player Point</span></dt>
                <dd>
                    <div *ngIf="playerDetailPoint.playerPointId">
                        <a [routerLink]="['/player-point', playerDetailPoint.playerPointId, 'view']">{{playerDetailPoint.playerPointId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/player-detail-point', playerDetailPoint.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
