<div>
    <h2 id="page-heading">
        <span jhiTranslate="psaRankingApp.playerDetailPoint.home.title">Player Detail Points</span>
        <button id="jh-create-entity-back" class="btn btn-primary float-right jh-create-entity create-player-detail-point" (click)="Cancel()">
            <span jhiTranslate="global.menu.back">Back</span>
        </button>
        <!--  <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-player-detail-point" [routerLink]="['/player-detail-point/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="psaRankingApp.playerDetailPoint.home.createLabel">
            Create a new Player Detail Point
            </span>
        </button>-->
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="playerDetailPoints?.length === 0">
        <span jhiTranslate="psaRankingApp.playerDetailPoint.home.notFound">No playerDetailPoints found</span>
    </div>
    <div class="table-responsive" *ngIf="playerDetailPoints?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th scope="col"  jhiSortBy="eventName"><span jhiTranslate="psaRankingApp.playerDetailPoint.event">Event</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            <th class="text-right" scope="col"  jhiSortBy="points"><span jhiTranslate="psaRankingApp.playerDetailPoint.points">Points</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--  <th scope="col"  jhiSortBy="playerPointId"><span jhiTranslate="psaRankingApp.playerDetailPoint.playerPoint">Player Point</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let playerDetailPoint of playerDetailPoints ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/player-detail-point', playerDetailPoint.id, 'view' ]">{{playerDetailPoint.id}}</a></td> -->
                <td>
                    <div *ngIf="playerDetailPoint.eventId">
                        <div>{{playerDetailPoint.eventName}}</div>
                    </div>
                </td>
                <!-- <td>
                    <div *ngIf="playerDetailPoint.playerPointId">
                        <a [routerLink]="['/player-point', playerDetailPoint.playerPointId , 'view' ]" >{{playerDetailPoint.playerPointId}}</a>
                    </div>
                </td> -->
                 <td>
                <!-- <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/player-detail-point', playerDetailPoint.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/player-detail-point', playerDetailPoint.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/player-detail-point', { outlets: { popup: playerDetailPoint.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>-->
                </td>
                <td class="text-right">{{playerDetailPoint.points}}</td> 
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="playerDetailPoints?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
